@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.6;
  overscroll-behavior: none; }

body {
  font-family: 'Lato',sans-serif;
  color: #333;
  overflow-x: hidden; }

ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }
  a::before, a::after {
    text-decoration: inherit; }
  a:hover {
    text-decoration: none; }
    a:hover::before, a:hover::after {
      text-decoration: none; }

video,
audio,
button {
  display: inline-block; }

img {
  display: block;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: #002240; }

::-webkit-scrollbar-thumb {
  background: #047AED;
  border-radius: 0.5rem; }

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 0.1s linear forwards;
  -moz-animation: fade-in 0.1s linear forwards;
  -ms-animation: fade-in 0.1s linear forwards;
  -o-animation: fade-in 0.1s linear forwards;
  animation: fade-in 0.1s linear forwards;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }

.animate-section {
  opacity: 1;
  -webkit-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -moz-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -ms-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -o-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s; }

@keyframes motion-blur {
  0% {
    -webkit-filter: url(#motionBlur);
    filter: url(#motionBlur); }
  25% {
    -webkit-filter: url(#motionBlur2);
    filter: url(#motionBlur2); }
  50% {
    -webkit-filter: url(#motionBlur3);
    filter: url(#motionBlur3); }
  100% {
    -webkit-filter: url(#motionBlur4);
    filter: url(#motionBlur4); } }

.animate-carousel {
  opacity: 1 !important;
  z-index: 1;
  -webkit-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -moz-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -ms-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  -o-animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s;
  animation: motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s; }

@keyframes fadeInContentOnLoad {
  0% {
    top: 3rem;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

.page-wrapper .nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100000; }
  .page-wrapper .nav-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(45deg, #000000, #002240);
    -webkit-transition: 1.5s ease;
    transition: 1.5s ease;
    z-index: -1; }
  .page-wrapper .nav-container .nav-row {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0.25rem; }
    .page-wrapper .nav-container .nav-row .nav-logo,
    .page-wrapper .nav-container .nav-row .menu-links {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%; }
    .page-wrapper .nav-container .nav-row .nav-logo {
      padding: 0 2rem; }
      .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        display: -ms-flex;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10; }
        .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu > div {
          opacity: 1;
          width: 35px;
          height: 3px;
          background: #FFFFFF;
          margin: 4px 0;
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease; }
      .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu.active-menu #barOne {
        -webkit-transform: translate(0, 11px) rotate(-45deg);
        -ms-transform: translate(0, 11px) rotate(-45deg);
        -moz-transform: translate(0, 11px) rotate(-45deg);
        -o-transform: translate(0, 11px) rotate(-45deg);
        transform: translate(0, 11px) rotate(-45deg); }
      .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu.active-menu #barTwo {
        opacity: 0; }
      .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu.active-menu #barThree {
        -webkit-transform: translate(0, -11px) rotate(45deg);
        -ms-transform: translate(0, -11px) rotate(45deg);
        -moz-transform: translate(0, -11px) rotate(45deg);
        -o-transform: translate(0, -11px) rotate(45deg);
        transform: translate(0, -11px) rotate(45deg); }
    @media (min-width: 769px) {
      .page-wrapper .nav-container .nav-row .nav-logo,
      .page-wrapper .nav-container .nav-row .menu-links {
        max-width: 50%; }
      .page-wrapper .nav-container .nav-row .nav-logo .nav-burger-menu {
        display: none; } }
    .page-wrapper .nav-container .nav-row .nav-logo a {
      display: inline-block; }
    .page-wrapper .nav-container .nav-row .nav-logo img {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      max-width: 85px; }
    .page-wrapper .nav-container .nav-row .menu-links ul {
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .page-wrapper .nav-container .nav-row .menu-links ul li {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: auto;
        padding: 0.45rem;
        -webkit-transition: 0.45s ease;
        transition: 0.45s ease; }
        .page-wrapper .nav-container .nav-row .menu-links ul li a {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -o-user-select: none;
          user-select: none;
          color: #FFFFFF;
          font-size: 0.9rem;
          font-weight: 400;
          display: inline-block;
          width: 100%;
          text-transform: uppercase;
          position: relative;
          -webkit-transition: text-indent 0.45s ease;
          transition: text-indent 0.45s ease; }
          .page-wrapper .nav-container .nav-row .menu-links ul li a::before {
            position: absolute;
            left: 0;
            width: 0;
            border-bottom: 2px solid #FFFFFF;
            -webkit-transition: width 0.5s ease;
            transition: width 0.5s ease; }
          .page-wrapper .nav-container .nav-row .menu-links ul li a:hover::before {
            width: 100%; }
        @media (min-width: 768px) {
          .page-wrapper .nav-container .nav-row .menu-links ul li a {
            text-align: center; } }
        @media (min-width: 1024px) {
          .page-wrapper .nav-container .nav-row .menu-links ul li a::before {
            content: '';
            bottom: -1.85rem; } }
      @media (max-width: 767px) {
        .page-wrapper .nav-container .nav-row .menu-links ul li {
          width: 100%; } }
    @media (max-width: 768px) {
      .page-wrapper .nav-container .nav-row .nav-logo a {
        width: 100%; }
      .page-wrapper .nav-container .nav-row .nav-logo img {
        margin: 0 auto; }
      .page-wrapper .nav-container .nav-row .menu-links {
        padding: 0 0.5rem;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.45s ease-out;
        transition: max-height 0.45s ease-out; } }

.page-wrapper .nav-container.fade-background::before {
  opacity: 0.95;
  background-image: linear-gradient(45deg, #000000, #047AED); }

.page-button {
  margin: 0.45rem 0; }
  .page-button a {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    outline: none;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.45s ease;
    transition: 0.45s ease; }
    .page-button a::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: inherit;
      border: 2px solid rgba(255, 255, 255, 0.5);
      -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
      -moz-transform: scale(1.35);
      -o-transform: scale(1.35);
      transform: scale(1.35);
      -webkit-transition: 0.45s ease-in-out;
      transition: 0.45s ease-in-out; }
    .page-button a::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-clip-path: circle(0);
      clip-path: circle(0);
      background: #FFFFFF;
      z-index: -1;
      -webkit-transition: 0.65s ease-in-out;
      transition: 0.65s ease-in-out; }
    .page-button a:hover {
      color: #000000; }
      .page-button a:hover::before {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      .page-button a:hover::after {
        opacity: 1;
        -webkit-clip-path: circle(100%);
        clip-path: circle(100%); }

.btn-secondary a {
  color: #000000; }

.btn-blue a {
  color: #002240;
  border: 1px solid #002240; }
  .btn-blue a:hover {
    color: #FFFFFF; }
  .btn-blue a::before {
    border: 1px solid #002240; }
  .btn-blue a::after {
    background-image: linear-gradient(45deg, #002240, #000000); }

.btn-light-blue a {
  color: #047AED;
  border: 1px solid #047AED; }
  .btn-light-blue a:hover {
    color: #FFFFFF; }
  .btn-light-blue a::before {
    border: 1px solid #047AED; }
  .btn-light-blue a::after {
    background-image: linear-gradient(45deg, #047AED, #002240); }

.page-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 1000px; }
  .page-wrapper .content-container {
    min-height: 500px; }
  @media (min-width: 768px) {
    .page-wrapper .content-container {
      min-height: 700px; } }
  .page-wrapper .page-hero {
    width: 100%;
    height: 100vh;
    position: relative; }
    .page-wrapper .page-hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.5), #000000), url("/img/african-hardhat.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
  .page-wrapper .page-hero-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .page-wrapper .page-hero-container .page-header {
      text-align: center;
      padding: 0.25rem;
      margin-bottom: 1.35rem;
      position: relative; }
      .page-wrapper .page-hero-container .page-header span {
        display: inline-block;
        font-size: 2.8rem;
        line-height: 3rem;
        font-weight: 300;
        text-transform: uppercase; }
    .page-wrapper .page-hero-container p {
      width: 100%;
      font-size: 1.25rem;
      margin: 0 auto;
      padding: 1.5rem 0;
      max-width: 500px;
      text-align: center; }
    .page-wrapper .page-hero-container .page-hero-button {
      display: -ms-flex;
      display: flex;
      justify-content: center;
      margin: 2rem 0; }
      .page-wrapper .page-hero-container .page-hero-button button {
        cursor: pointer;
        outline: none;
        width: 150px;
        height: 150px;
        opacity: 0.5;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: transparent;
        position: relative;
        -webkit-animation: expandButton 1.5s ease infinite alternate;
        -moz-animation: expandButton 1.5s ease infinite alternate;
        -ms-animation: expandButton 1.5s ease infinite alternate;
        -o-animation: expandButton 1.5s ease infinite alternate;
        animation: expandButton 1.5s ease infinite alternate;
        -webkit-transition: 0.45s ease;
        transition: 0.45s ease; }

@keyframes expandButton {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
        .page-wrapper .page-hero-container .page-hero-button button:hover {
          width: 130px;
          height: 130px;
          border: 1px solid rgba(4, 122, 237, 0.5); }
          .page-wrapper .page-hero-container .page-hero-button button:hover::before {
            color: rgba(4, 122, 237, 0.5); }
          .page-wrapper .page-hero-container .page-hero-button button:hover::after {
            bottom: -3rem;
            opacity: 1; }
        .page-wrapper .page-hero-container .page-hero-button button::before {
          content: '\02193';
          color: rgba(255, 255, 255, 0.5);
          font-size: 3rem;
          position: relative;
          top: 0;
          opacity: 0.5;
          -webkit-animation: bouncingArrow 1.5s ease infinite alternate;
          -moz-animation: bouncingArrow 1.5s ease infinite alternate;
          -ms-animation: bouncingArrow 1.5s ease infinite alternate;
          -o-animation: bouncingArrow 1.5s ease infinite alternate;
          animation: bouncingArrow 1.5s ease infinite alternate;
          -webkit-transition: 0.45s ease;
          transition: 0.45s ease; }

@keyframes bouncingArrow {
  0% {
    opacity: 0.5;
    top: 0; }
  100% {
    opacity: 1;
    top: 1rem; } }
        .page-wrapper .page-hero-container .page-hero-button button::after {
          content: attr(data-button-title);
          position: absolute;
          bottom: -2rem;
          left: 0;
          width: 100%;
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          font-size: 0.7rem;
          opacity: 0;
          -webkit-transition: 0.6s ease;
          transition: 0.6s ease; }
  .page-wrapper .page-header-bar {
    position: absolute;
    width: 300px;
    height: 5px;
    bottom: -1.35rem;
    right: 0;
    background-image: linear-gradient(45deg, #FFFFFF, #FC8B06); }
  .page-wrapper .page-section {
    position: relative; }
    .page-wrapper .page-section [class*="sub-header"] span {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 3rem;
      text-transform: uppercase;
      position: relative; }
      .page-wrapper .page-section [class*="sub-header"] span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5); }
    .page-wrapper .page-section [class*="sub-header"] .secondary-header::before {
      border-bottom: 2px solid #002240; }
    @media (max-width: 1500px) {
      .page-wrapper .page-section [class*="sub-header"] span {
        font-size: 1.5rem; } }
  .page-wrapper .section-wrapper {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center; }
    .page-wrapper .section-wrapper > section {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      min-height: 500px;
      overflow: hidden; }
      .page-wrapper .section-wrapper > section:hover > div::before {
        opacity: 0.6; }
    @media (min-width: 768px) {
      .page-wrapper .section-wrapper > section {
        max-width: 50%; }
      .page-wrapper .section-wrapper .solar-images {
        border-right: 1px solid rgba(238, 238, 238, 0.05); } }
  .page-wrapper .about-wrapper {
    padding: 2rem; }
    .page-wrapper .about-wrapper .about-section {
      text-align: center;
      min-height: auto !important; }
      .page-wrapper .about-wrapper .about-section article {
        margin: 2rem 0; }
  .page-wrapper .solar-images,
  .page-wrapper .electrical-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    -webkit-transition: 0.45s ease;
    transition: 0.45s ease; }
    .page-wrapper .solar-images::before,
    .page-wrapper .electrical-images::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(252, 139, 6, 0.25));
      z-index: 2;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
    .page-wrapper .solar-images > div,
    .page-wrapper .electrical-images > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover !important; }
      .page-wrapper .solar-images > div:first-child,
      .page-wrapper .electrical-images > div:first-child {
        z-index: 1; }
  .page-wrapper .solar-images > div {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in; }
  .page-wrapper .solar-images > div.current-image {
    z-index: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }
  .page-wrapper .solar-images .img-one {
    background: url("../img/solar/solar-one.jpg") no-repeat center; }
  .page-wrapper .solar-images .img-two {
    background: url("../img/solar/solar-two.jpg") no-repeat center; }
  .page-wrapper .solar-images .img-three {
    background: url("../img/solar/solar-three.jpg") no-repeat center; }
  .page-wrapper .solar-images .img-four {
    background: url("../img/solar/solar-four.jpg") no-repeat center; }
  .page-wrapper .solar-images .img-five {
    background: url("../img/solar/solar-five.jpg") no-repeat center; }
  .page-wrapper .solar-images .img-six {
    background: url("../img/solar/solar-six.jpg") no-repeat center; }
  .page-wrapper .electrical-images .img-one {
    background: url("../img/electrical/electrical.jpg") no-repeat center; }
  .page-wrapper .solar-content-container,
  .page-wrapper .electrical-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.85rem;
    border: 1px solid rgba(238, 238, 238, 0.25);
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.35);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.45s ease-in-out;
    transition: 0.45s ease-in-out; }
    .page-wrapper .solar-content-container:hover,
    .page-wrapper .electrical-content-container:hover {
      background: rgba(0, 0, 0, 0.5); }
    .page-wrapper .solar-content-container > div,
    .page-wrapper .electrical-content-container > div {
      color: #FFFFFF;
      font-weight: 300; }
    .page-wrapper .solar-content-container article > p,
    .page-wrapper .electrical-content-container article > p {
      position: relative;
      padding-left: 1rem; }
      .page-wrapper .solar-content-container article > p::before,
      .page-wrapper .electrical-content-container article > p::before {
        content: '\2013';
        position: absolute;
        left: 0; }
  @media (min-width: 1400px) {
    .page-wrapper .solar-content-container,
    .page-wrapper .electrical-content-container {
      max-width: 50%; } }
  .page-wrapper .section-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 1.25rem 0;
    position: relative; }
    .page-wrapper .section-header span {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 2.8rem;
      line-height: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5); }
  .page-wrapper .our-services {
    background-color: #000000;
    padding: 3.5rem 1.5rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 1; }
    .page-wrapper .our-services::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
    .page-wrapper .our-services > div {
      margin: 0 auto;
      width: 100%;
      max-width: 1300px; }
    .page-wrapper .our-services .our-services-content {
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      -webkit-perspective: 1000px;
      -moz-perspective: 1000px;
      perspective: 1000px; }
      .page-wrapper .our-services .our-services-content article {
        outline: none;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin-bottom: 1rem;
        width: 100%;
        min-height: 350px;
        background: #FFFFFF;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid rgba(238, 238, 238, 0.02);
        -webkit-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transition: 0.75s ease-in-out;
        transition: 0.75s ease-in-out; }
        .page-wrapper .our-services .our-services-content article:hover {
          -webkit-transform: rotateX(0);
          -ms-transform: rotateX(0);
          -moz-transform: rotateX(0);
          -o-transform: rotateX(0);
          transform: rotateX(0); }
          .page-wrapper .our-services .our-services-content article:hover::after {
            opacity: 0.6; }
          .page-wrapper .our-services .our-services-content article:hover .section-sub-header span {
            color: #002240; }
        .page-wrapper .our-services .our-services-content article::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 30px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
        .page-wrapper .our-services .our-services-content article::after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          width: 50px;
          height: 50px;
          opacity: 0.25;
          background-size: contain !important;
          -webkit-transition: 0.35s linear;
          transition: 0.35s linear; }
        .page-wrapper .our-services .our-services-content article .section-sub-header {
          display: table;
          table-layout: fixed;
          width: 100%;
          min-height: 100px;
          position: relative;
          z-index: 1; }
          .page-wrapper .our-services .our-services-content article .section-sub-header span {
            font-size: 1.5rem;
            line-height: 1.5rem;
            padding: 0.5rem;
            padding-top: 3rem;
            font-weight: 400;
            display: table-cell;
            vertical-align: middle;
            text-align: center; }
        .page-wrapper .our-services .our-services-content article p {
          font-size: 1.25rem;
          font-weight: 300;
          padding: 1.5rem; }
      @media (min-width: 767px) {
        .page-wrapper .our-services .our-services-content article {
          max-width: 300px;
          -webkit-transform: rotateX(25deg);
          -ms-transform: rotateX(25deg);
          -moz-transform: rotateX(25deg);
          -o-transform: rotateX(25deg);
          transform: rotateX(25deg); } }
      .page-wrapper .our-services .our-services-content .service-development::before {
        background-image: linear-gradient(to right, #000000, #047AED); }
      .page-wrapper .our-services .our-services-content .service-development::after {
        background: url("../img/services/icon-development.svg"); }
      .page-wrapper .our-services .our-services-content .service-financing::before {
        background-image: linear-gradient(to right, #000000, #FC8B06); }
      .page-wrapper .our-services .our-services-content .service-financing::after {
        background: url("../img/services/icon-tailored-finance.svg"); }
      .page-wrapper .our-services .our-services-content .service-engineering::before {
        background-image: linear-gradient(to right, #000000, #FFFFFF); }
      .page-wrapper .our-services .our-services-content .service-engineering::after {
        background: url("../img/services/icon-engineering-procurement-construction.svg"); }
      .page-wrapper .our-services .our-services-content .service-operation::before {
        background-image: linear-gradient(to right, #000000, #6BAD35); }
      .page-wrapper .our-services .our-services-content .service-operation::after {
        background: url("../img/services/icon-operation-and-maintenance.svg"); }
  .page-wrapper .our-services.service-development::before {
    background-image: linear-gradient(to bottom, #000000, rgba(4, 122, 237, 0.35), #000000); }
  .page-wrapper .our-services.service-financing::before {
    background-image: linear-gradient(to bottom, #000000, rgba(252, 139, 6, 0.35), #000000); }
  .page-wrapper .our-services.service-engineering::before {
    background-image: linear-gradient(to bottom, #000000, rgba(255, 255, 255, 0.35), #000000); }
  .page-wrapper .our-services.service-operation::before {
    background-image: linear-gradient(to bottom, #000000, rgba(107, 173, 53, 0.35), #000000); }
  .page-wrapper .about-us {
    padding-bottom: 2rem;
    background-image: linear-gradient(to bottom, #000000, #002240); }
  .page-wrapper .content-container {
    overflow-x: hidden; }
    .page-wrapper .content-container .filters {
      width: 0;
      height: 0;
      visibility: hidden; }
    .page-wrapper .content-container .content-hero {
      width: 100%;
      height: 500px;
      display: table;
      table-layout: fixed;
      overflow: hidden;
      margin-bottom: 5rem;
      position: relative;
      z-index: -1;
      background-size: cover !important;
      background-repeat: no-repeat !important; }
      .page-wrapper .content-container .content-hero::before, .page-wrapper .content-container .content-hero::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        z-index: -1; }
      .page-wrapper .content-container .content-hero::after {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 34, 64, 0.45)); }
      .page-wrapper .content-container .content-hero h1 {
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        font-weight: 100;
        font-size: 3rem; }
      @media (min-width: 767px) {
        .page-wrapper .content-container .content-hero h1 {
          font-size: 4rem; } }
    .page-wrapper .content-container .solar-hero {
      background: url("/img/solar/hero-solar.jpg"); }
    .page-wrapper .content-container .electrical-hero {
      background: url("/img/electrical/hero-electrical.jpg"); }
    .page-wrapper .content-container .about-hero {
      background-image: linear-gradient(transparent, #047AED), url("/img/african-map.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .page-wrapper .content-container .content-section {
      margin: 2.35rem auto;
      padding: 1.25rem;
      max-width: 1300px;
      position: relative;
      z-index: 1;
      opacity: 0;
      -webkit-animation: fadeInContentOnLoad 1s ease-in-out 0.5s forwards;
      -moz-animation: fadeInContentOnLoad 1s ease-in-out 0.5s forwards;
      -ms-animation: fadeInContentOnLoad 1s ease-in-out 0.5s forwards;
      -o-animation: fadeInContentOnLoad 1s ease-in-out 0.5s forwards;
      animation: fadeInContentOnLoad 1s ease-in-out 0.5s forwards; }
      .page-wrapper .content-container .content-section > h2 {
        color: #002240;
        font-weight: 100;
        font-size: 2rem;
        line-height: 3rem;
        padding: 0 1.25rem;
        padding-bottom: 0.65rem;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center; }
      @media (min-width: 1024px) {
        .page-wrapper .content-container .content-section > h2 {
          font-size: 2.5rem; } }
      .page-wrapper .content-container .content-section > h2.primary-header {
        padding-left: unset;
        display: block; }
        .page-wrapper .content-container .content-section > h2.primary-header::after {
          content: unset; }
      .page-wrapper .content-container .content-section > h2.green-color {
        color: #6BAD35; }
      .page-wrapper .content-container .content-section > article {
        padding: 1rem; }
        .page-wrapper .content-container .content-section > article > p {
          font-weight: 100;
          margin-bottom: 25px;
          line-height: 1.75rem; }
        .page-wrapper .content-container .content-section > article li {
          font-weight: 100;
          font-size: 1rem;
          line-height: 1.75rem;
          list-style-type: disc;
          margin-left: 1.25rem;
          margin-bottom: 0.35rem; }
      .page-wrapper .content-container .content-section .text-left {
        text-align: left; }
      .page-wrapper .content-container .content-section .text-center {
        text-align: center; }
      .page-wrapper .content-container .content-section .text-right {
        text-align: right; }
    .page-wrapper .content-container .content-flex {
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .page-wrapper .content-container .content-flex > article,
      .page-wrapper .content-container .content-flex .content-img {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%; }
      @media (max-width: 767px) {
        .page-wrapper .content-container .content-flex > article {
          order: 2; }
        .page-wrapper .content-container .content-flex .content-img {
          order: 1; } }
      @media (min-width: 768px) {
        .page-wrapper .content-container .content-flex > article,
        .page-wrapper .content-container .content-flex .content-img {
          max-width: 50%; } }
      .page-wrapper .content-container .content-flex .content-img img {
        width: 100%;
        height: 350px;
        margin: 0 auto;
        object-fit: contain;
        object-position: center; }
      @media (min-width: 768px) {
        .page-wrapper .content-container .content-flex .content-img img {
          width: 350px; } }
      @media (min-width: 1024px) {
        .page-wrapper .content-container .content-flex .content-img img {
          width: 400px;
          height: 400px; } }
    .page-wrapper .content-container .park-farms-grid {
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
      margin: 5rem 1.25rem; }
      .page-wrapper .content-container .park-farms-grid .park-card {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        height: 120px;
        text-align: center;
        padding: 0.65rem;
        border: 1px solid #CCCCCC; }
        .page-wrapper .content-container .park-farms-grid .park-card h3 {
          text-transform: uppercase;
          font-weight: 400; }
        .page-wrapper .content-container .park-farms-grid .park-card p {
          font-weight: 200;
          height: 70px; }
      @media (min-width: 1024px) {
        .page-wrapper .content-container .park-farms-grid .park-card {
          max-width: 33.33%; } }
    .page-wrapper .content-container .our-services-cards {
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .page-wrapper .content-container .our-services-cards .our-service-card {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        height: 200px;
        padding: 1.25rem;
        border: 1px solid #CCCCCC; }
        .page-wrapper .content-container .our-services-cards .our-service-card h3 {
          text-transform: uppercase;
          font-weight: 400; }
        .page-wrapper .content-container .our-services-cards .our-service-card p {
          font-weight: 200;
          height: 70px; }
      @media (min-width: 768px) {
        .page-wrapper .content-container .our-services-cards .our-service-card {
          max-width: 50%; } }
    .page-wrapper .content-container .carousel {
      display: -ms-flex;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }
      .page-wrapper .content-container .carousel .carousel-imgs,
      .page-wrapper .content-container .carousel .carousel-description {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 1; }
      @media (min-width: 650px) {
        .page-wrapper .content-container .carousel .carousel-imgs,
        .page-wrapper .content-container .carousel .carousel-description {
          max-width: 40%; } }
      .page-wrapper .content-container .carousel .grid-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-size: contain; }
      .page-wrapper .content-container .carousel .carousel-description > article {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        display: -ms-flex;
        display: flex;
        opacity: 0;
        padding: 2rem;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center; }
        .page-wrapper .content-container .carousel .carousel-description > article h2 {
          color: #002240;
          text-transform: uppercase;
          font-weight: 400;
          margin-bottom: 0.35rem; }
        @media (max-width: 650px) {
          .page-wrapper .content-container .carousel .carousel-description > article h2 {
            margin-top: 6rem; } }
        .page-wrapper .content-container .carousel .carousel-description > article li {
          font-size: 1.25rem;
          font-weight: 200; }
      .page-wrapper .content-container .carousel .carousel-btns {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0 0.5rem;
        display: -ms-flex;
        display: flex;
        justify-content: space-between; }
        .page-wrapper .content-container .carousel .carousel-btns button {
          cursor: pointer;
          outline: none;
          border: 0;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: transparent;
          position: relative;
          z-index: 1; }
          .page-wrapper .content-container .carousel .carousel-btns button:nth-child(1)::before {
            content: '\003C'; }
          .page-wrapper .content-container .carousel .carousel-btns button:nth-child(2)::before {
            content: '\003E'; }
          .page-wrapper .content-container .carousel .carousel-btns button::before {
            color: #FFFFFF;
            font-size: 2rem;
            font-weight: 300;
            line-height: 3.3rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.75);
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease; }
          .page-wrapper .content-container .carousel .carousel-btns button:hover:before {
            font-size: 1.8rem;
            background: rgba(0, 0, 0, 0.65); }
    .page-wrapper .content-container .solar-systems {
      background: url("/img/solar/grid-tied-solar.jpg") no-repeat center; }
    .page-wrapper .content-container .battery-systems {
      background: url("/img/solar/grid-tied-battery.jpg") no-repeat center; }
    .page-wrapper .content-container .offgrid-systems {
      background: url("/img/solar/off-grid.jpg") no-repeat center; }
    .page-wrapper .content-container .direct-systems {
      background: url("/img/solar/direct-pv.jpg") no-repeat center; }
  .page-wrapper .accordion {
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin: 1.25rem;
    max-width: 500px; }
    .page-wrapper .accordion article h2 {
      outline: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 100;
      padding: 0.35rem 0.75rem;
      padding-left: 50px;
      border-bottom: 1px solid #EEEEEE;
      background: transparent;
      position: relative;
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear; }
      .page-wrapper .accordion article h2:hover {
        font-weight: 500;
        background: #EEEEEE; }
      .page-wrapper .accordion article h2::before {
        content: '\002B';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        text-align: center;
        font-size: 1.3rem; }
    .page-wrapper .accordion article h2.active-accordion-heading {
      background: #EEEEEE;
      font-weight: 500; }
      .page-wrapper .accordion article h2.active-accordion-heading::before {
        content: '\2212'; }
    .page-wrapper .accordion article ul, .page-wrapper .accordion article div {
      padding: 0 1.25rem;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: 0.35s linear;
      transition: 0.35s linear; }
      .page-wrapper .accordion article ul p, .page-wrapper .accordion article div p {
        font-size: 1rem;
        padding: 0.25rem; }
    .page-wrapper .accordion article li {
      list-style-type: disc;
      margin-left: 1.5rem; }
  .page-wrapper .accordion-centered {
    margin: 1.25rem auto; }

.page-wrapper .footer-container {
  position: relative;
  background: #002240;
  background-image: linear-gradient(to bottom, #002240, #000000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000; }
  .page-wrapper .footer-container footer {
    color: #FFFFFF;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
    max-width: 1300px; }
  .page-wrapper .footer-container .footer-row {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    padding-bottom: 0; }
    .page-wrapper .footer-container .footer-row .footer-content,
    .page-wrapper .footer-container .footer-row .footer-social,
    .page-wrapper .footer-container .footer-row .footer-logos {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .page-wrapper .footer-container .footer-row .footer-content,
      .page-wrapper .footer-container .footer-row .footer-social,
      .page-wrapper .footer-container .footer-row .footer-logos {
        max-width: 33.33%; } }
  .page-wrapper .footer-container .footer-content {
    text-align: center; }
    .page-wrapper .footer-container .footer-content span {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.9rem; }
  .page-wrapper .footer-container .footer-excerpt p {
    font-size: 1.2rem;
    line-height: 2rem; }
  .page-wrapper .footer-container .footer-social .social-icons {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .page-wrapper .footer-container .footer-social .social-icons a {
      display: -ms-flex;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0.15rem;
      position: relative;
      width: 100%;
      max-width: 40%;
      justify-content: end; }
      .page-wrapper .footer-container .footer-social .social-icons a::after {
        content: attr(data-social-name);
        display: inline-block;
        margin: 0 0.5rem;
        width: 100px;
        height: 30px;
        color: #FFFFFF;
        text-indent: 0;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }
      .page-wrapper .footer-container .footer-social .social-icons a:hover::after {
        text-indent: 0.35rem; }
      .page-wrapper .footer-container .footer-social .social-icons a:nth-child(3) img, .page-wrapper .footer-container .footer-social .social-icons a:nth-child(4) img {
        max-width: 30px;
        max-height: 30px; }
    .page-wrapper .footer-container .footer-social .social-icons img {
      width: 100%;
      height: 100%;
      max-width: 25px;
      max-height: 25px;
      object-fit: contain;
      object-position: center; }
  @media (min-width: 1024px) {
    .page-wrapper .footer-container .footer-social {
      position: relative;
      left: 2rem; } }
  .page-wrapper .footer-container .footer-logos {
    display: -ms-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .page-wrapper .footer-container .footer-logos > img {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      max-width: 120px;
      max-height: 120px;
      margin: 0;
      object-fit: contain;
      object-position: center; }
  .page-wrapper .footer-container .footer-copyright {
    padding: 2rem;
    text-align: center; }
