.fade-in{
    opacity: 0; 
    @include animation(fade-in 0.1s linear forwards);
    @include transition(0.3s ease);
}

.animate-section{
    opacity: 1;
    @include animation (motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s);
}
@keyframes motion-blur {
    0%{
        @include filter(url(#motionBlur));
    }
    25%{
        @include filter(url(#motionBlur2));
    }
    50%{
        @include filter(url(#motionBlur3));
    }
    100%{
        @include filter(url(#motionBlur4));
    }
}

.animate-carousel{
    opacity: 1 !important;
    z-index: 1;
    @include animation (motion-blur 0.1s linear forwards, motion-blur 0.4s linear reverse forwards 0.1s);
}

@keyframes fadeInContentOnLoad {
    0%{
        top: 3rem;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}