// Define the colors for the site theme here

$primary-color:#047AED;
$secondary-color: #1C3fA8;
$dark-color: #002240;
$light-color: #F4F4F4;
$success-color: #5CB85C;
$error-color: #D9534F;
$black: #000000;
$white: #FFFFFF;
$grey: #EEEEEE;
$orange: #FCB045;