@mixin transition($property){
    -webkit-transition: $property;
    transition: $property;
}

@mixin background-image($property){
    background-image: $property;
}

@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin user-select(){
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

// the 3 dots allow for multiple properties separated by commas
@mixin animation($property...){
    -webkit-animation: $property;
    -moz-animation: $property;
    -ms-animation: $property;
    -o-animation: $property;
    animation: $property;
}

@mixin clip-path($property){
    -webkit-clip-path: $property;
    clip-path: $property;
}

@mixin perspective($property){
    -webkit-perspective: $property;
    -moz-perspective: $property;
    perspective: $property;
}

@mixin filter($property){
    -webkit-filter: $property;
    filter: $property;
}

@mixin displayFlex(){
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@mixin flex($property){ 
    -ms-flex: $property;
    flex: $property;
    width: 100%;
}