.page-wrapper{
    width: 100%;
    margin: 0 auto;
    min-height: 1000px;
    .content-container{
        min-height: 500px;
    }
    @media (min-width: 768px){
        .content-container{
            min-height: 700px;
        }
    }
    .page-hero{
        width: 100%;
        height: 100vh;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include background-image(linear-gradient($black, rgba($black, 0.5), $black), url('/img/african-hardhat.jpg')); 
        }
    }
    .page-hero-container{
        @include user-select;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 300;
        color: rgba($white, 0.9);
        @include transform(translate(-50%,-50%));
        .page-header{
            text-align: center;
            padding: 0.25rem;
            margin-bottom: 1.35rem;
            position: relative;
            span{
                display: inline-block;
                font-size: 2.8rem;
                line-height: 3rem;
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        p{
            width: 100%;
            font-size: 1.25rem;
            margin: 0 auto;
            padding: 1.5rem 0;
            max-width: 500px;
            text-align: center;
        }
        .page-hero-button{
           display: -ms-flex;
           display: flex;
           justify-content: center;
           margin: 2rem 0;
           button{
            cursor: pointer;
            outline: none;
            width: 150px;
            height: 150px;
            opacity: 0.5;
            border-radius: 50%;
            border: 1px solid rgba($white, 0.5);
            background: transparent;
            position: relative;
            @include animation(expandButton 1.5s ease infinite alternate);
            @include transition(0.45s ease);
            @keyframes expandButton {
                0%{ opacity: 0.5; }
                100%{ opacity: 1; }
            }
            &:hover{
                width: 130px;
                height: 130px;
                border: 1px solid rgba($primary-color, 0.5);
                &::before{
                    color: rgba($primary-color, 0.5);
                }
                &::after{
                    bottom: -3rem;
                    opacity: 1;
                }
            }
            &::before{
                content: '\02193';
                color: rgba($white, 0.5);
                font-size: 3rem;
                position: relative;
                top: 0;
                opacity: 0.5;
                @include animation(bouncingArrow 1.5s ease infinite alternate);
                @include transition(0.45s ease);
            }
            @keyframes bouncingArrow {
                0%{
                    opacity: 0.5;
                    top: 0;
                }
                100%{
                    opacity: 1;
                    top: 1rem;
                }
            }
            &::after{
                content: attr(data-button-title);
                position: absolute;
                bottom: -2rem;
                left: 0;
                width: 100%;
                color: rgba($white, 0.5);
                text-transform: uppercase;
                font-size: 0.7rem;
                opacity: 0;
                @include transition(0.6s ease);
            }
           }
        }
    }
    .page-header-bar{
        position: absolute;
        width: 300px;
        height: 5px;
        bottom: -1.35rem;
        right: 0;
        background-image: linear-gradient(45deg, $white, $orange);
    }   
    .page-section{
        position: relative;
        [class*="sub-header"]{
            span{
                display: inline-block;
                font-size: 1.7rem;
                font-weight: 300;
                line-height: 3rem;
                text-transform: uppercase;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 40%;
                    border-bottom: 2px solid rgba($white, 0.5);
                }
            }
            .secondary-header{
                &::before{
                    border-bottom: 2px solid $dark-color;
                }
            }
            @media (max-width: 1500px){
                span{ font-size: 1.5rem; }
            }
        }
    }
    .section-wrapper{
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
         > section {
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            width: 100%;
            min-height: 500px;
            overflow: hidden;
            &:hover{
                > div {
                    &::before{ opacity: 0.6; }
                }
            }
         }
         @media (min-width: 768px){
            > section { max-width: 50%; }
            .solar-images{
                border-right: 1px solid rgba($grey, 0.05);
            }
         }
    }
    .about-wrapper{
        padding: 2rem;
        .about-section{
            text-align: center;
            min-height: auto !important;
            article{
                margin: 2rem 0;
            }
        }
    }
    .solar-images,
    .electrical-images{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        @include transition(0.45s ease);
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            background-image: linear-gradient(to top, rgba($black,0.95), rgba($orange, 0.25));
            z-index: 2;
            @include transition(0.25s ease-in-out);
        }
        > div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover !important;
            &:first-child{
                z-index: 1;
            }
        }
    }
    .solar-images{
        > div {
            @include filter(grayscale(1));
            @include transition(1s ease-in);
        }
        > div.current-image{
            z-index: 1;
            @include filter(grayscale(0));
        } 
    }
    .solar-images{
        .img-one{background: url('../img/solar/solar-one.jpg') no-repeat center;}
        .img-two{background: url('../img/solar/solar-two.jpg') no-repeat center;}
        .img-three{background: url('../img/solar/solar-three.jpg') no-repeat center;}
        .img-four{background: url('../img/solar/solar-four.jpg') no-repeat center;}
        .img-five{background: url('../img/solar/solar-five.jpg') no-repeat center;}
        .img-six{background: url('../img/solar/solar-six.jpg') no-repeat center;}
     }
     .electrical-images{
        .img-one{background: url('../img/electrical/electrical.jpg') no-repeat center;}
    }
    .solar-content-container,
    .electrical-content-container{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0.85rem;
        border: 1px solid rgba($grey, 0.25);
        border-radius: 0.5rem;
        background: rgba($black, 0.35);
        @include transform(translate(-50%, -50%));
        @include transition(0.45s ease-in-out);
        &:hover{ background: rgba($black, 0.5);}
        > div {
            color: $white;
            font-weight: 300;
        }
        article{
            > p {
                position: relative;
                padding-left: 1rem;
                &::before{
                    content: '\2013';
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
    @media (min-width: 1400px){
        .solar-content-container,
        .electrical-content-container{
            max-width: 50%;
        }
    }

    .section-header{
        @include user-select;
        padding: 1.25rem 0;
        position: relative;
        span{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 2.8rem;
            line-height: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            color: rgba($white, 0.5);
        }
    } 
    
    // our service section
    .our-services{
        background-color: $black;
        padding: 3.5rem 1.5rem;
        padding-bottom: 6rem;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        > div {
            margin: 0 auto;
            width: 100%;
            max-width: 1300px;
        } 
        .our-services-content{
            display: -ms-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            @include perspective(1000px);
            article{
                outline: none;
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                margin-bottom: 1rem;
                width: 100%;
                min-height: 350px;
                background: $white;
                position: relative;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border: 1px solid rgba($grey, 0.02);
                @include transform(rotateX(0deg));
                @include transition(0.75s ease-in-out);
                &:hover{ 
                    @include transform(rotateX(0));
                    &::after{
                        opacity: 0.6;
                    }
                    .section-sub-header{
                        span{ color: $dark-color; }
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 50px;
                    height: 50px;
                    opacity: 0.25;
                    background-size: contain !important;
                    @include transition(0.35s linear);
                }
                .section-sub-header{
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    min-height: 100px;
                    position: relative;
                    z-index: 1;
                    span{
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        padding: 0.5rem;
                        padding-top: 3rem;
                        font-weight: 400;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
                p { 
                    font-size: 1.25rem;
                    font-weight: 300;
                    padding: 1.5rem; 
                }
            }
            @media (min-width: 767px){
                article{
                    max-width: 300px;
                    @include transform(rotateX(25deg));
                }
            }
            
            .service-development{
                &::before{
                    background-image: linear-gradient(to right, $black, $primary-color);
                }
                &::after{
                    background: url('../img/services/icon-development.svg');
                }
            }
            .service-financing{
                &::before{
                    background-image: linear-gradient(to right, $black, $orange);
                }
                &::after{
                    background: url('../img/services/icon-tailored-finance.svg');
                }
            }
            .service-engineering{
                &::before{
                    background-image: linear-gradient(to right, $black, $white);
                }
                &::after{
                    background: url('../img/services/icon-engineering-procurement-construction.svg');
                }
            }
            .service-operation{
                &::before{
                    background-image: linear-gradient(to right, $black, $solar-dark-green);
                }
                &::after{
                    background: url('../img/services/icon-operation-and-maintenance.svg');
                }
            }
        }
    }
    .our-services.service-development{
        &::before{
            background-image: linear-gradient(to bottom, $black, rgba($primary-color,0.35), $black);
        }
    }
    .our-services.service-financing{
        &::before{
            background-image: linear-gradient(to bottom, $black, rgba($orange, 0.35), $black);
        }
    }
    .our-services.service-engineering{
        &::before{
            background-image: linear-gradient(to bottom, $black, rgba($white,0.35), $black);
        }
    }
    .our-services.service-operation{
        &::before{
            background-image: linear-gradient(to bottom, $black, rgba($solar-dark-green,0.35), $black);
        }
    }
    .about-us{
        padding-bottom: 2rem;
        background-image: linear-gradient(to bottom, $black, $dark-color);
    }
    .content-container{
        overflow-x: hidden;
        .filters{
            width: 0;
            height: 0;
            visibility: hidden;
        }
        .content-hero{
            width: 100%;
            height: 500px;
            display: table;
            table-layout: fixed;
            overflow: hidden;
            margin-bottom: 5rem;
            position: relative;
            z-index: -1;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            &::before,
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                z-index: -1;
            }
            &::after{
                background-image: linear-gradient(to top, rgba($black, 0.75), rgba($dark-color, 0.45));
            }
            h1{
                width: 100%;
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                text-transform: uppercase;
                color: $white;
                font-weight: 100;
                font-size: 3rem;
            }
            @media (min-width: 767px){
                h1{ font-size: 4rem; }
            }
        }
        .solar-hero{
            background: url('/img/solar/hero-solar.jpg');
        }
        .electrical-hero{
            background: url('/img/electrical/hero-electrical.jpg');
        }
        .about-hero{
            @include background-image(linear-gradient(transparent, $primary-color), url('/img/african-map.jpg'));
        }
        .content-section{
            margin: 2.35rem auto;
            padding: 1.25rem;
            max-width: 1300px;
            position: relative;
            z-index: 1;
            opacity: 0;
            @include animation(fadeInContentOnLoad 1s ease-in-out 0.5s forwards);
            > h2 {
                color: $dark-color;
                font-weight: 100;
                font-size: 2rem;
                line-height: 3rem;
                padding: 0 1.25rem;
                padding-bottom: 0.65rem;
                margin-bottom: 1.25rem;
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
            @media (min-width: 1024px){
                > h2 { font-size: 2.5rem; }
            }
            > h2.primary-header{
                padding-left: unset;
                display: block;
                &::after{
                    content: unset;
                }
            }
            > h2.green-color{
                color: $solar-dark-green;
            }
            > article {
                padding: 1rem;
                > p {
                    font-weight: 100;
                    margin-bottom: 25px;
                    line-height: 1.75rem;
                }
                li{
                    font-weight: 100;
                    font-size: 1rem;
                    line-height: 1.75rem;
                    list-style-type: disc;
                    margin-left: 1.25rem;
                    margin-bottom: 0.35rem;
                }
            }
            .text-left{ text-align: left; }
            .text-center { text-align: center; }
            .text-right { text-align: right; }
        }
        .content-flex{
            @include displayFlex;
            > article,
            .content-img{
                @include flex(1 0 auto);
            }
            @media (max-width: 767px){
                > article { order: 2; }
                .content-img { order: 1; } 
            }
            @media (min-width: 768px){
                > article,
                .content-img{
                    max-width: 50%;
                }
            }
            .content-img{
                img {
                    width: 100%;
                    height: 350px;
                    margin: 0 auto;
                    object-fit: contain;
                    object-position: center;
                }
                @media (min-width: 768px){
                    img {
                        width: 350px;
                    }
                }
                @media (min-width: 1024px){
                    img{
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
        .park-farms-grid{
            @include displayFlex;
            font-size: 0.9rem;
            margin: 5rem 1.25rem;
            .park-card{
                @include flex(1 0 auto);
                height: 120px;
                text-align: center;
                padding: 0.65rem;
                border: 1px solid $darkGrey;
                h3{
                    text-transform: uppercase;
                    font-weight: 400;
                }
                p{ 
                    font-weight: 200;
                    height: 70px; 
                }
            }
            @media (min-width: 1024px){
                .park-card{ max-width: 33.33%; }
            }
        }
        .our-services-cards{
            @include displayFlex;
            .our-service-card{
                @include flex(1 0 auto);
                height: 200px;
                padding: 1.25rem;
                border: 1px solid $darkGrey;
                h3{
                    text-transform: uppercase;
                    font-weight: 400;
                }
                p{
                    font-weight: 200;
                    height: 70px;
                }
            }
            @media (min-width: 768px){
                .our-service-card{
                    max-width: 50%;
                }
            }
            
        }
        .carousel{
            @include displayFlex;
            .carousel-imgs,
            .carousel-description{
                @include flex(1 0 auto);
                height: 300px;
                position: relative;
                z-index: 1;
            }
            @media (min-width: 650px){
                .carousel-imgs,
                .carousel-description{
                    max-width: 40%;
                }
            }
            .grid-img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-size: contain;
            }
            .carousel-description{
                > article {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    display: -ms-flex;
                    display: flex;
                    opacity: 0;
                    padding: 2rem;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    justify-content: center;
                    h2{
                        color: $dark-color;
                        text-transform: uppercase;
                        font-weight: 400;
                        margin-bottom: 0.35rem;
                    }
                    @media (max-width: 650px){
                        h2{
                            margin-top: 6rem;
                        }
                    }
                    li{
                        font-size: 1.25rem;
                        font-weight: 200;
                    }
                }
            }
            .carousel-btns{
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                padding: 0 0.5rem;
                display: -ms-flex;
                display: flex;
                justify-content: space-between;    
                button{
                    cursor: pointer;
                    outline: none;
                    border: 0;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    background: transparent;
                    position: relative;
                    z-index: 1;
                    &:nth-child(1){
                        &::before{
                            content: '\003C';
                        }
                    }
                    &:nth-child(2){
                        &::before{
                            content: '\003E';
                        }
                    }
                    &::before{
                        color: $white;
                        font-size: 2rem;
                        font-weight: 300;
                        line-height: 3.3rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba($black, 0.75);
                        @include transition(0.4s ease);
                    }
                    &:hover:before{
                        font-size: 1.8rem;
                        background: rgba($black, 0.65);
                    }
                } 
            }
        }
        .solar-systems{
            background: url('/img/solar/grid-tied-solar.jpg') no-repeat center;
        }
        .battery-systems{
            background: url('/img/solar/grid-tied-battery.jpg') no-repeat center;
        }
        .offgrid-systems{
            background: url('/img/solar/off-grid.jpg') no-repeat center;
        }
        .direct-systems{
            background: url('/img/solar/direct-pv.jpg') no-repeat center;
        }
    }
    .accordion{
        border: 1px solid $grey;
        border-radius: 10px;
        @include user-select;
        margin: 1.25rem;
        max-width: 500px;
        article{
            h2{
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 100;
                padding: 0.35rem 0.75rem;
                padding-left: 50px;
                border-bottom: 1px solid $grey;
                background: transparent;
                position: relative;
                @include transition(0.3s linear);
                &:hover{
                    font-weight: 500;
                    background: $grey;
                }
                &::before{
                    content: '\002B';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 100%;
                    text-align: center;
                    font-size: 1.3rem;
                }
            }
            h2.active-accordion-heading{
                background: $grey;
                font-weight: 500;
                &::before{
                    content: '\2212';
                }
            }
            ul,div{
                padding: 0 1.25rem;
                max-height: 0;
                overflow: hidden;
                @include transition(0.35s linear);
                p{
                    font-size: 1rem;
                    padding: 0.25rem;
                }
            }
            li{
                list-style-type: disc;
                margin-left: 1.5rem;
            }
        }
    }
    .accordion-centered{
        margin: 1.25rem auto;
    }
} 